<h1> You are now instructing on <%= @contract.cohort.name %> </h1>

<ul>
  <li>
    <%= @contract.duration %><br>
  </li>
  <li>
    <%= @contract.postion %><br>
  </li>
  <li>
    <%= @contract.cohort.name %>
  </li>
</ul>