<div class="row">
  <div class="large-8 columns">
    <h1>New User</h1>
    <%= render 'form' %>
  </div>
  <div class="large-4 columns">
    <div class="login">
      <%= image_tag("thumb_GA-loves-london.jpg") %>
    </div> 
  </div>
</div>

