<h3>All courses</h3>

<h2>What are course are you thinking of doing?</h2>
<% @courses.each do |course| %>
<%= link_to course.name, course %>

<% end %>

<h2> ***TEACHERS ONLY**** </h2>
<h2> Would you like to create a new cohort?</h2>

<li><%= link_to "New cohort", cohorts_path %></li>



