<h1>All courses</h1>

<h2>What are course are you interested in?</h2>
  <% @courses.each do |course| %>
    <div class= "course">
      <%= link_to course.name, course %>
    </div>
  <% end %>

<% if can? :manage, User %>
 <%= link_to 'create new course', new_course_path, class: 'button'  %></td>
 <%= link_to 'create new cohort', new_cohort_path, class: 'button'  %></td>
<% end %>

