<div class="row">
  <div class="large-6 columns">
    <div class= "title">
      <%= @course.name %>
    </div>
    <p>Course duration: <%= @course.duration %> months <p>
    <p>Current cohorts: 
    <% @course.cohorts.each do |cohort| %>
    <%= link_to cohort.name, cohort %></p>
    <% end %>
  </div>
  </div>





  
