<div class="row">
  <div class="large-6 columns">
    <div class= "title">
      <%= @course.name %>
    </div>
    <ul>
      <li>Course duration: <%= @course.duration %> months </li>
      <li>Current cohorts:</li>
    </ul>
    <ul>
      <% @course.cohorts.each do |cohort| %>
      <li><%= link_to cohort.name, cohort %></li>
      <% end %>
    </ul> 
  </div>
</div>





  
