<h1> You are now enrolled on <%= @cohort.name %> </h1>

<ul>
  <li>
    <%= @enrollment.start_date %>
  </li>
  <li>
    <%= @enrollment.pre_work %>
  </li>
  <li>
    <%= @cohort.name %>
  </li>
</ul>

