
<h1> You are now enrolled on <%= @enrollment.cohort.name %> </h1>
<p>
  <%= @enrollment.start_date %><br>
</p>
<p>
  <%= @enrollment.pre_work %><br>
</p>
<p>
</p>
  <%= @enrollment.cohort.name %>
</p>
<p>


