<h1>Listing Classrooms</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Name</th>
  </tr>

  <h2>Classrooms</h2>
  <% @classrooms.each do |room| %>
  <tr>
    <td><%= room.location %></td>
    <td><%= room.name %></td>
    <td><%= link_to 'Book Room', new_classroom_booking_path(room) %></td>
  </tr>
  <% end %>
</table>

<% if can? :manage, User %>
 <%= link_to 'create new classroom', new_classroom_path, class: 'button'  %></td>
<% end %>
